<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <header class="header">
        <div class="header__top">
            <img src="assets/Study_Sphere_Logo.png"
                alt="A circle with a black background and yello words 'study sphere'" />
            <h1 class="header__title">Welcome to Study Sphere</h1>
        </div>
        <nav class="header__menu">
            <ul class="header__menu__list">
                <li class="header__menu__item"><a href="/login">Log in</a></li>
                <li class="header__menu__item"><a href="/">Playground</a></li>
                <li class="header__menu__item"><a href="/">About us</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="main__content">
            <form class="pcard__login" [formGroup]="ploginForm">
                <p-card header="Login" [style]="{width: '360px'}">
                    <div class="field">
                        <label class="login__label" for="email">Name(Email): </label>
                        <input type="text" pInputText formControlName="email" class="w-full" name="email"
                            placeholder="Type your email" />
                        <small *ngIf="pemail.invalid && (pemail.dirty || pemail.touched)"
                            class="login__error login__error--email">
                            <div *ngIf="pemail.errors?.['required']">Email is required</div>
                            <div *ngIf="pemail.errors?.['email']">Email should be valid</div>
                        </small>
                    </div>
                    <div class="field">
                        <label class="login__label" for="password">Password: </label>
                        <input type="password" pInputText formControlName="password" class="w-full" name="password"
                            placeholder="Type your password" />
                        <small *ngIf="ppassword.invalid && (ppassword.dirty || ppassword.touched)"
                            class="login__error login__error--password">
                            <div *ngIf="ppassword.errors?.['required']">Password is required</div>
                        </small>
                    </div>
                    <p-button label="Log In" styleClass="w-full"></p-button>
                    <div class="reset__link">Not a member? <a routerLink="/signup">Sign Up</a></div>
                    <div class="reset__link">Forget Password? <a routerLink="/signup">Reset Password</a></div>
                </p-card>
            </form>
        </div>
    </main>
    <footer class="footer">
        <nav class="footer__menu">
            <ul class="footer__menu__list">
                <li class="footer__menu__item"><a href="https://www.linkedin.com/in/xiaoyangjin4/">contact us</a></li>
                <li class="footer__menu__item"><a href="/">follow us</a></li>
                <li class="footer__menu__item"><a href="/">privacy policy</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>