body {
    font-family: Arial, sans-serif;
    background-color: #FFFFDD;
    margin: 0;
    padding: 0;
}

header {
    background-color: #D2DE32;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    margin: 20px;
}

.post-form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #61A3BA;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #5292a9;
}