<body>
    <header>
        <h1>Create a New Post</h1>
    </header>
    <main>
        <app-logout-bar></app-logout-bar>
        <div class="post-form">
            <label for="title">Title:</label>
            <input type="text" [(ngModel)]="titleFormControl" id="title" placeholder="Enter the title"
                class="default-content" value="">

            <label for="summary">Summary:</label>
            <textarea id="summary" placeholder="Enter a summary" class="default-content" rows="4"></textarea>

            <label for="main-content">Main Content:</label>
            <textarea id="main-content" placeholder="Enter the main content" class="default-content"
                rows="8"></textarea>

            <label for="keywords">Keywords:</label>
            <select id="keywords" multiple>
                <option value="keyword1" selected>Keyword 1</option>
                <option value="keyword2">Keyword 2</option>
                <option value="keyword3" selected>Keyword 3</option>
            </select>

            <label for="image">Upload Image:</label>
            <input type="file" id="image">

            <button type="submit" (click)="onSubmit()">Create Post</button>
        </div>
    </main>
</body>