<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="post">
        <app-logout-bar></app-logout-bar>
        <h1 class="post-title">Title: {{ post?.title }}</h1>
        <!-- <p class="keywords">Keywords: {{ post?.keywords?.join(', ') }}</p> -->
        <p class="post-summary">Summary: {{ post?.summary }}</p>
        <div class="post-content">
            <p></p>
            <p></p>
        </div>
    </div>
</body>

</html>