<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Detail</title>
</head>

<body>
    <div class="post">
        <h1 class="post-title">Title: Computer networks</h1>
        <p class="keywords">Keywords: Network, LAN</p>
        <p class="post-summary">Summary: A computer network is any group of interconnected computing devices capable of
            sending or receiving data. A computing device isn't just a computer—it's any device that can run a program,
            such as a tablet, phone, or smart sensor.</p>
        <div class="post-content">
            <p>A network like that only has to worry about a few things, like how to physically connect the two devices
                and how to send data over the physical connection in a format they both understand. Now there's
                additional complexity. How can each device know whether incoming data is meant for them or for their
                neighbor? This simple network will need an addressing scheme.
                Let's jump to six devices. There are actually many ways we can connect six devices together in a
                computer network:</p>
            <img class="post-image"
                src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y29tcHV0ZXIlMjBuZXR3b3JrfGVufDB8fDB8fHww.jpg"
                alt="Post Image">
            <p>Each of those arrangements is a different network topology, and each topology has its advantages and
                disadvantages.
                Imagine the journey of a piece of data through one of those larger networks. What path will it take?
                When there are multiple paths, how does it know which path is best?
                Once networks become larger, routing strategies become more important. There isn't a big difference
                between two stops and three stops in a path, but there is a big difference between 20 stops and 300
                stops..</p>
        </div>
    </div>
</body>