<body>
    <header>
        <button class="playground-button" (click)="gotopg()">PlayGround</button>
        <button class="logout-button" (click)="logout()">Logout</button>
    </header>

    <main>
        <div class="profile-container">
            <div>
                <img class="profile-picture" [src]="profilePictureUrl" alt="Profile Picture">
                <input type="file" (change)="onFileSelected($event)" accept="image/*">
                <button (click)="uploadProfilePicture()">Upload Picture</button>
            </div>


            <div class="profile-info">
                <div class="username">{{ username }}</div>
                <div class="password-change">
                    Change Password
                </div>
            </div>
        </div>

        <div class="posts">
            <div class="post">
                <h2 class="post-title">Post Title 1</h2>
                <div class="post-date">Date Created: January 1, 2023</div>
                <p class="post-summary">This is a summary of the first post...</p>
                <div class="post-keywords">Keywords: Keyword1, Keyword2, Keyword3</div>
            </div>

            <div class="post">
                <h2 class="post-title">Post Title 2</h2>
                <div class="post-date">Date Created: February 15, 2023</div>
                <p class="post-summary">This is a summary of the second post...</p>
                <div class="post-keywords">Keywords: Keyword4, Keyword5</div>
            </div>
        </div>
    </main>
</body>