<!DOCTYPE html>
<html lang="en">

<body>
    <div class="signup-container">
        <h1>Sign Up</h1>
        <form>
            <div class="form-group">
                <label for="username/email">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="btn-signup" (click)="signup()">Sign Up</button>
        </form>
        <div class="login-link">
            Already have an account? <a href="/login">Log in</a>
        </div>
    </div>
</body>

</html>