<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css" />
    <script defer src="/js/validation.js"></script>
    <title>Register Form</title>
</head>

<body>
    <header class="header">
        <div class="header__top">
            <img src="assets/Study_Sphere_Logo.png"
                alt="A circle with a black background and yello words 'study sphere'" />
            <h1 class="header__title">Welcome to Study Sphere</h1>
        </div>
        <nav class="header__menu">
            <ul class="header__menu__list">
                <li class="header__menu__item"><a href="/login">Log in</a></li>
                <li class="header__menu__item"><a href="/">Community</a></li>
                <li class="header__menu__item"><a href="/">About us</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="main__content">
            <form class="register" [formGroup]="signupForm" (ngSubmit)="signup()">
                <div class="required__message">
                    <p class="is__required">Fields marked with an asterisk (*) are required.</p>
                </div>
                <label class="register__label">
                    <span class="register__name-label">Name(Email)</span>
                    <span class="is__required">*</span>:

                </label>
                <input class="register__name-input" name="name" />
                <span class="register__error register__error--name"></span>


                <label class="register__label">
                    <span class="register__password-label">PassWord</span>
                    <span class="is__required">*</span>:


                </label>
                <input class="register__password-input" name="password" type="text" />
                <span class="register__error register__error--password"></span>


                <label class="register__label">
                    <span class="register__confirm-label">Confirm PassWord</span>
                    <span class="is__required">*</span>:

                </label>
                <input class="register__confirm-input" name="confirm" type="text" />
                <span class="register__error register__error--confirm"></span>


                <label class="checkbox" for="wants-spam">
                    <input type="checkbox" id="wants-spam" name="wants-spam" checked>
                    Do you want us to send you annoying emails?
                </label>

                <button class="register__submit" type="submit">Register</button>
            </form>
            <div class="login__link">
                Already have an account? <a href="/login">Log in</a>
            </div>
        </div>
    </main>
    <footer class="footer">
        <nav class="footer__menu">
            <ul class="footer__menu__list">
                <li class="footer__menu__item"><a href="https://www.linkedin.com/in/xiaoyangjin4/">contact us</a></li>
                <li class="footer__menu__item"><a href="/">follow us</a></li>
                <li class="footer__menu__item"><a href="/">privacy policy</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>