<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>

<body>
    <div class="center-container">
        <div class="signup-container">
            <h1>Sign Up</h1>
            <form [formGroup]="signupForm" (ngSubmit)="signup()">
                <div class="form-group">
                    <label for="username">Username/Email:</label>
                    <input type="text" id="username" formControlName="username" class="input-field"
                        placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" formControlName="password" class="input-field"
                        placeholder="Enter your password" required>
                </div>
                <button type="submit" class="btn-signup">Sign Up</button>
            </form>
            <div class="login-link">
                Already have an account? <a href="/login">Log in</a>
            </div>
        </div>
    </div>
</body>

</html>