* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    background-color: #ADBC9F;

    font-family: "Monaco", sans-serif;

    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

body {
    min-height: 100vh;
    display: grid;
}

input {
    font: inherit;
}

.header {
    background-color: #12372A;

    grid-area: header;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header img {
    width: 5rem;
    height: 5rem;

    margin-right: 10px;
    border: 2px solid #FAF0E6;
    border-radius: 50px;
}

.header__title {
    color: #FAF0E6;

    font-size: 2.5rem;
}

.header__menu__list {
    list-style-type: none;

    place-items: center;
    width: 100%;
}

.header__menu__item {
    padding: 1rem;
    margin: 0 0.5rem;
}

.header__menu__item a {
    color: white;

    text-decoration: none;

    padding: 1rem;
}

.header__menu__item a:hover {
    text-decoration: underline;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
}

.login {
    display: flex;

    flex-direction: column;
    align-items: center;

    padding: 1rem;
    border: 1px solid #12372A;
    border-radius: 15px;
}

.login__label,
.login__name-input,
.login__password-input,
.login__error {
    width: 100%;
    box-sizing: border-box;
}

.login__label {
    margin-bottom: 8px;
}

.login__name-input,
.login__password-input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.login__error {
    color: red;
    margin-bottom: 1rem;
}

.login__submit {
    margin: 0 auto;

    height: 2.5rem;
    width: 5rem;

    font-family: "Monaco", sans-serif;
}

.login__label,
.login__submit {
    cursor: pointer;
}

.footer {
    background-color: #12372A;

    grid-area: footer;

    padding: 1rem;
}

.footer__menu__list {
    padding: 1rem;
}

.footer__menu__item {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.footer__menu__item a {
    color: #FAF0E6;
    font-size: smaller;
    text-decoration: none;

    padding: 1rem;
}

.footer__menu__item a:hover {
    background-color: #ADBC9F;
    color: #FBFADA;

    text-decoration: underline;
}

@media (min-width: 40rem) {

    .header__title {
        font-size: 3rem;
    }

    .header__menu__list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }

    .header__menu__item {
        grid-column: span 4;
    }

    .login {
        display: grid;
        grid-template-columns: 1fr 2fr;
        justify-content: center;
        align-items: center;
    }

    .login__label,
    .login__input {
        grid-column: span 1;
    }

    .login__label {
        text-align: left;
        padding-right: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        margin-bottom: 1rem;
    }

    .login__submit {
        grid-column: 1 / -1;

        justify-self: center;
        width: auto;
        margin: 1rem 0;
    }

    .login__error {
        grid-column: 2 / span 1;
        color: red;
    }

    .footer__menu__list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1rem;
    }

    .footer__menu__item {
        grid-column: span 2;
    }
}

.signup-link,
.reset-link {
    text-align: center;
    margin-top: 20px;
}