<div class="center-container">
    <div id="login-container">
        <div id="login-form" formGroupName="form">
            <input type="text" id="username" formControlName="username" placeholder="Please enter your email"
                class="input-field">
            <div id="username-error"></div>
            <div id="password-container">
                <input type="password" id="password" formControlName="password" placeholder="Please enter your password"
                    class="input-field">
                <span #passwordToggle (click)="togglePasswordVisibility()">Show Password</span>
            </div>
            <button id="login-button" (click)="login()">Login</button>
            <button id="signup-button">Sign Up</button>
            <a id="forgot-password" href="#">Forgot Password</a>
        </div>
    </div>
</div>