<div class="center-container">
    <div id="login-container">
        <div id="login-form" [formGroup]="form">
            <div class="input">
                <input type="text" id="username" formControlName="username" placeholder="Please enter your email"
                    class="input-field">
                <!-- keep no show -->
                <!-- <div id="username-error"
                *ngIf="form.get('username')?.hasError('email') && (form.get('username')?.touched || isFormSubmitted)">
                Please enter a valid email address.
            </div> -->

                <!-- <div id="password-container">
                <input type="password" id="password" formControlName="password" placeholder="Please enter your password"
                    class="input-field" maxlength="50" />
                <span #passwordToggle (click)="togglePasswordVisibility()">
                    {{ isPasswordVisible ? 'Hide Password' : 'Show Password' }}
                </span>
            </div> -->

                <input type="password" id="password" formControlName="password" placeholder="Please enter your password"
                    class="input-field">
            </div>

            <button id="login-button" (click)="login()">Login</button>
            <button id="signup-button" (click)="navigateToSignup()">Sign Up</button>
            <a id="forgot-password" href="#">Forgot Password</a>
        </div>
    </div>
</div>