<!-- playground.component.html -->
<div class="container">
    <app-logout-bar></app-logout-bar>
    <div class="left-sidebar">
        <h2>Groups</h2>
        <div class="keyword" (click)="filterByKeyword('keyword1')">Keyword 1</div>
        <div class="keyword" (click)="filterByKeyword('keyword2')">Keyword 2</div>
        <div class="keyword" (click)="filterByKeyword('keyword3')">Keyword 3</div>
        <button class="clear-button" (click)="clearFilters()">Clear All Filters</button>
    </div>
    <div class="main-content">
        <h1>All Posts</h1>
        <div class="post" *ngFor="let post of filteredPosts" [attr.data-keywords]="post.keywords.join(' ')">
            <div class="post-title">{{ post.title }}</div>
            <div class="post-summary">{{ post.summary }}</div>
            <div class="keywords">Keywords:
                <span class="keyword" *ngFor="let keyword of post.keywords">{{ keyword }}</span>
            </div>
        </div>
    </div>
</div>