body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.left-sidebar {
    width: 20%;
    padding: 20px;
    background-color: #61A3BA;
    /* Blue color */
}

.main-content {
    width: 80%;
    padding: 20px;
}

.post {
    margin-bottom: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
}

.post-summary {
    font-size: 16px;
    margin-top: 10px;
}

.keyword {
    font-size: 14px;
    color: #D2DE32;
    /* Green color */
    cursor: pointer;
    margin-right: 10px;
}

.clear-button {
    background-color: #A2C579;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.clear-button:hover {
    background-color: #8B9B2F;
}