<div class="container">
    <app-logout-bar></app-logout-bar>
    <div class="left-sidebar">
        <h2>Groups</h2>
        <app-create-button></app-create-button>
        <app-profile-button></app-profile-button>
        <!-- <button class="clear-button" (click)="clearFilters()">Clear All Filters</button>
        <div class="keyword" (click)="filterByKeyword('keyword1')">Keyword 1</div>
        <div class="keyword" (click)="filterByKeyword('keyword2')">Keyword 2</div>
        <div class="keyword" (click)="filterByKeyword('keyword3')">Keyword 3</div> -->
    </div>
    <div class="main-content">
        <h1>All Posts</h1>

        <div class="post" *ngFor="let post of posts">
            <div class="post-title">{{ post.title }}</div>
            <div class="post-summary">{{ post.summary }}</div>

            <!-- <a [routerLink]="['/post', post.id]">Read More</a> -->
            <!-- <div class="button" (click)="navigateToPost(post.id)">Read More</div> -->
        </div>
    </div>
</div>