<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <header class="header">
        <div class="header__top">
            <img src="assets/Study_Sphere_Logo.png"
                alt="A circle with a black background and yello words 'study sphere'" />
            <h1 class="header__title">Welcome to Study Sphere</h1>
        </div>
        <nav class="header__menu">
            <ul class="header__menu__list">
                <li class="header__menu__item"><a href="/login">Log in</a></li>
                <li class="header__menu__item"><a href="/">Community</a></li>
                <li class="header__menu__item"><a href="/">About us</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="main__content">

            <form class="pcard__register" [formGroup]="registerForm">
                <p-card header="Register" [style]="{width: '360px'}">
                    <div class="field">
                        <label class="register__label" for="email">Name(Email): </label>
                        <input type="text" pInputText formControlName="email" class="w-full" name="email"
                            placeholder="Type your email" />
                        <small *ngIf="email.invalid && (email.dirty || email.touched)"
                            class="register__error register__error--email">
                            <div *ngIf="email.errors?.['required']">Email is required</div>
                            <div *ngIf="email.errors?.['email']">Email should be valid</div>
                        </small>
                    </div>
                    <div class="field">
                        <label class="register__label" for="password">Password: </label>
                        <input type="password" pInputText formControlName="password" class="w-full" name="password"
                            placeholder="Type your password" />
                        <small *ngIf="password.invalid && (password.dirty || password.touched)"
                            class="register__error register__error--password">
                            <div *ngIf="password.errors?.['required']">Password is required</div>
                        </small>
                    </div>
                    <div class="field">
                        <label class="register__label" for="confirmPassword">Confirm Password: </label>
                        <input type="password" pInputText formControlName="confirmPassword" class="w-full"
                            name="password" placeholder="Type your password again" />
                        <small *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
                            class="register__error register__error--password">
                            <div *ngIf="confirmPassword.errors?.['required']">Please confirm the password</div>
                        </small>
                    </div>
                    <p-button label="Register" styleClass="w-full" [disabled]="registerForm.invalid"></p-button>
                    <div class="reset__link">Already a member? <a routerLink="/login">Login</a></div>
                </p-card>
            </form>

        </div>
    </main>
    <footer class="footer">
        <nav class="footer__menu">
            <ul class="footer__menu__list">
                <li class="footer__menu__item"><a href="https://www.linkedin.com/in/xiaoyangjin4/">contact us</a></li>
                <li class="footer__menu__item"><a href="/">follow us</a></li>
                <li class="footer__menu__item"><a href="/">privacy policy</a></li>
            </ul>
        </nav>
    </footer>
</body>

</html>